<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Pu-run</title>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <%-include('header.ejs')%>
        </header>
        <div class="top-wrapper">
            <div class="top-container">
                <div class="top-contents">
                    <h1>EXPERIENCE THE REAL EFFICIENCY.</h1>
                    <ul>
                        <li>
                            What is PU-RUN?
                        </li>
                        <li>
                            -Decide what to create.
                        </li>
                        <li>
                            -List up your tasks.
                        </li>
                        <li>
                            -Allocate your time.
                        </li>
                        <li>
                            -Complete your creation.
                        </li>
                    </ul>
                    <h1 class="arrow">>>></h1>
                    <a href="/list"><h2>Get Started!!</h2></a>
                </div>

            </div>
        </div>
        <footer>
            <%-include('footer.ejs')%>
        </footer>
    </body>
</html>