*{
    font-family: serif;
}
ul{
    list-style:none;
}
a{
    display:inline-block;
    color:white;
    text-decoration: none;
}
header{
    color:white;
    height:120px;
    width:100%;
    position:fixed;
    z-index:999;
    background-color: rgb(70, 70, 70);
    border:1px solid black;
    opacity:0.9;
}

header h1{
    float:left;
}
header h3{
    float:right;
    margin-top:60px;
    margin-right:30px;
}
.loggedInHeader{
    padding-top:25px;
    margin:10px 0 0 20px;
    font-size:15px;
}
.login-wrapper{
    padding-top:150px;
    padding-bottom:80px;
    background-image:url(/images/4187651_m.jpg);
    height:482px;
    width:1343px;
    text-align: center;
}
.login-content{
    background-color: rgba(202, 202, 202, 0.8);
    display: inline-block;
    text-align: left;
    padding:20px 60px 20px 20px;
    margin-top:55px;
    border:1px solid black;
}
.errors{
    color:red;
    font-weight: bold;
}
.loginLink{
    color:black;
    display: inline-block;
    border:0.5px solid black;
    background-color: rgba(255, 255, 255, 0.8) ;
    font-size: 15px;
    padding:1px 3px 1px 3px;
}
footer{
    height:120px;
    width:100%;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.black{
    color:black;
}
footer h1{
    float:left;
}
footer h3{
    float:right;
    clear:right;
    margin:10px 10px 1px 0;
}